body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

svg {
    width: 1.5rem;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / minmax(150px, 1fr) 6fr;
    height: 100%;
    box-sizing: border-box;
}

.container > div {
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 7fr 3fr;
    background-color: rgb(25, 146, 212);
}

.logo {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding-top: 3vh;
    padding-left: 1.5vh;
    font-size: 1.5vmax;
}

.logo-text {
    margin: 0;
    display: inline-block;
    height: 5vh;
    vertical-align: text-top;

}

.main-item {
    color: white;
    font-weight: bolder;
    min-height: 1.5vh;
    font-size: 1vmax;
}

.footer-nav > div, .main-content > div, .projects-grid > div, .announcements-grid > div, .announcements > div, .trending > div
{
    border: 1px solid black;
}

.main-icon {
    padding-right: 0.5vh;
    color: white;
    vertical-align: middle;
    height: 3vmax;
    width: 3vmax;
}

.icon {
    padding-right: 1vh;
    width: 1vmax;
    color: white;
    vertical-align: text-top;
}

.page {
    margin: 0;
    width: 1vmax;
}

.icon, .page {
    display: inline-block;
}

.nav {
    display: grid;
    padding-bottom: 125%;
    padding-left: 3vh;
    padding-top: 3vh;
    gap: 0.8vmax;
}


.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}


.search-bar {
    display: grid;
    grid-template-columns: 8% 60% 8% 8% 1fr;
}

.search-button {
    color: black;
    justify-self: right;
    align-self: center;
    padding-right: 10px;
    display: grid;
}

.search-area {
    appearance: none;
    justify-self: left;
    align-self: center;
    width: 80%;
}

input#query {
    width: 100%;
    height: 3vh;
    background-color: rgb(226, 232, 240);
    border-radius: 15px;
    border: none;
    padding-left: 2%;
    font-weight: bold;
    font-size: 1rem;
}

input#query:focus {
    outline: 3px solid rgb(25, 146, 212);
}

.alert-button {
    color: black;
    justify-self: right;
    align-self: center;
    display: grid;
}

.profile-logo {
    color: black;
    justify-self: center;
    align-self: center;
    display: grid;
}

.profile-name {
    justify-self: left;
    display: grid;
}

.profile-name-text {
    font-weight: bold;
    font-size: 1.2vmax;
    vertical-align: center;
    justify-self: center;
    align-self: center;
}

.user-info {
    display: grid;
    grid-template-columns: 11% repeat(2, 1fr);
}

.profile-logo-large {
    color: black;
    justify-self: right;
    align-self: center;
    padding-right: 3%;
}

.profile-name-welcome {
    display: grid;
    align-items: center;
    align-content: center;
}

.hi-there {
    padding-left: 2%;
    margin: 0;
    font-weight: bold;
    font-size: 1.5vh;
}

.username {
    padding-left: 2%;
    margin: 0;
    font-weight: bold;
    font-size: 3vh;
}

.content-upload {
    display: grid;
    grid-template-columns: 4fr 3.5fr 4fr;
    justify-content: space-evenly;
}

.upload-button, .upload-button-side {
    appearance: none;
    background-color: rgb(25, 146, 212);
    color: white;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 4vh;
    border: none;
    /*padding: 0.1vh 3vh;*/
    width: 13vh;
    height: 5vh;
}

.upload-button-side {
    /*justify-self: right;*/
}

.button-container {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.button-container-left {
    justify-self: right;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.button-container-right {
    justify-self: left;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}


.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 5fr 2fr;
}

.projects-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
}

.footer {
    grid-column: 1 / 3;
}


.announcements-grid {
    display: grid;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 5%;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 5%;
}

