body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100%;
    box-sizing: border-box;
}

.container > div {
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 11fr;
}

.sidebar > div, .nav > div, .footer-nav > div {
    border: 1px solid black;
}

.nav {
    display: grid;
    padding-bottom: 125%;
}


.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header > div {
    border: 1px solid black;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}